<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{!-- adds cssstyling to some content --}}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css"
    />
    <title>Alluda-Homepage</title>

  </head>

  <body class="hero background is-fullheight">

    <p class="text-center">
      <a class=' has-text-white is-bold title  text-center' id="alluda" href="/home-page">Alluda</a>
    </p>

    <header
      class="hero-head"
      class="ml-2 mr-2 title is-size-12 has-text-large is-bold is-info"
    >

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            {{#if loggedIn}}
            <a class="button is-light" href="/dashboard">
              Logout
            </a>
            {{else}}
            <a class="button is-light" href="/login">
              Login
            </a>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand is-size-3" id="navtxtClr" href="/home-page">Home</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          
          <li class="nav-item mb-3">
            <a class="nav-link " id="navtxtClr" href="/get-help">Certified Providers</a>
          </li>
          <li class="nav-item mb-3">
            <a class="nav-link " id="navtxtClr" href="/media-page">Media Resources</a>
          </li>
          <li class="nav-item mb-3">
            <a class="nav-link " id="navtxtClr" href="/notes-page">Journal Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="navtxtClr" href="/about-us-page">About Us</a>
          </li>

        </ul>

      </div>

      

    </nav>
    

      {{!-- <nav class="navbar navbar-expand-lg">
        <div class="container-fluid is-size-5">

          <a class="navbar-brand is-size-3" id="navtxtClr" href="/home-page">Home</a>

          <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav mt-5 ml-2">

              <li class="nav-item">
                <a class="nav-link " id="navtxtClr" href="/get-help">Certified Providers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " id="navtxtClr" href="/media-page">Media Resources</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " id="navtxtClr" href="/notes-page">Journal Log</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " id="navtxtClr" href="/about-us-page">About Us</a>
              </li>
            </ul>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-primary">
                    <strong>Sign up</strong>
                  </a>
                  {{#if loggedIn}}
                  <a class="button is-light" href="/dashboard">
                    Logout
                  </a>
                  {{else}}
                  <a class="button is-light" href="/login">
                    Login
                  </a>
                  {{/if}}
                </div>
              </div>
            </div>

          </div>

        </div>
                <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              {{#if loggedIn}}
              <a class="button is-light" href="/dashboard">
                Logout
              </a>
              {{else}}
              <a class="button is-light" href="/login">
                Login
              </a>
              {{/if}}
            </div>
          </div>
        </div>
      </nav> --}}

    </header>

      <!-- Centered page message -->
    <div>

      <h1 class="title is-bold is-size-6 has-text-medium has-text-centered" id="hptitle">
        Aiding in Mental Health Support
      </h1>
      
    </div>

    {{{ body }}}


    <footer class="hero-foot has-background-dark">
      <div class="content has-text-centered has-text-white">
        <p id="mainp">
          <strong class="has-text-white">Mental Health Advocates</strong>:
          <a href="https://github.com/Angel-A15">Angel</a>,<a
            href="https://github.com/mmarsch88"
            > Matt</a
          >,<a href="https://github.com/PivotalSaint"> Jesse</a>, and
          <a href="https://github.com/MarkAnthony9014">Mark</a> sourcing:
          <a href="https://github.com/PivotalSaint/Alluda">GitHub</a>.
        </p>
      </div>
    </footer>

    {{!-- logout script --}}
    <script src="/js/logout.js"></script>

    {{!-- bootstrap scripts --}}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </body>

</html>

{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}